.ibm-plex sans devanagari-regular {
  font-family: "IBM Plex Sans Devanagari", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jumbotron{
  text-shadow: 2px 2px black;
  text-align:center;
  padding-top: 100px;
  padding-bottom: 5px;
  bottom: 0;
  position: relative;
}

.container{
  text-align:center;
  bottom: 10;
  position: relative;
}
body {
  background-color: #F9F5E3;
  font-family: "IBM Plex Sans Davanagari", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #F9F5E3;
}

p {
  color: #524948;
}

img{
  width: 600px;
  height: 300;
  float: right;
}

h5 {
  font-style: italic;
}

hr {
  border-bottom: 1px solid #F9F5E3;
}

.btn-group {
  text-align: center;
}
.disabled {
  pointer-events: none;
}

#Home {
  background-image: url('carl.jpg');
}

#History {
  background-image: url('uke.jpg')
}

#Visit {
  background-image: url('vis.jpg')
}

#historyCarousel {
  float: right;
}