* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.ibm-plex sans devanagari-regular {
  font-family: "IBM Plex Sans Devanagari", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hovering-image-text {
  width: 320px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  border: 8px solid white;
  position: relative;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.hovering-image-text:hover .card-body {
  right: 0;
}

.card-body {
  width: 100%;
  height: 100%;
  top: 0px;
  right: -100%;
  position: absolute;
  background: #574F2A;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 2s;

.interesting-text {
  font-size: 16px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400px;
}

.visiting-btn {
  padding: 10px 20px;
  width: 120px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

}

.jumbotron{
  text-shadow: 2px 2px black;
  text-align:center;
  padding-top: 100px;
  padding-bottom: 5px;
  bottom: 0;
  position: relative;
}

.container{
  text-align:center;
  bottom: 10;
  position: relative;
}
body {
  background-color: #F9F5E3;
  font-family: "IBM Plex Sans Davanagari", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #F9F5E3;
}

.historyContent {
  background-color: #8C5E58;
  color:
}

img{
  width: 500px;
  height: 650px;
}
#carousel-image{
  width: 100%;
  max-width: 600px;
  max-height: 500px;
}
h5 {
  font-style: italic;
}

hr {
  border-bottom: 1px solid #F9F5E3;
}

.btn-group {
  text-align: center;
}

.custom-btn {
  color: #F9F5E3;
  background-color: #708B75;
}

.webpage-content {
   background-color: #708B75;
   color: #F9F5E3;
   text-align: center;
}

#Home {
  background-image: url('images/homepagebanner.jpg');
  background-size: cover;
}

#History {
  background-image: url('images/historypagebanner.jpg');
  background-size: cover;
}

#Visit {
  background-image: url('images/visitpagebanner.jpg');
  background-size: cover;
}

#historyCarousel {
  float: right;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.responsive_image {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 400px;
}