.ibm-plex sans devanagari-regular {
  font-family: "IBM Plex Sans Devanagari", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jumbotron{
  text-shadow: 2px 2px black;
}

body {
  background-color: lightblue;
  font-family: "IBM Plex Sans Davanagari", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}

h1 {
  text-align: center;
}

h5 {
  text-align: center;
  font-style: italic;
}

hr {
  border-bottom: 1px solid beige;
}

.disabled {
  pointer-events: none;
}

#Home {
  background-image: url('carl.jpg');
}

#History {
  background-image: url('uke.jpg')
}

#Visit {
  background-image: url('vis.jpg')
}